body {
  margin: 2em;
  background-color: #181A1B
}
aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#name, #email {
  width: 50%;
}
.honeypot-field {
  display: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: #b9bbbd;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  border-top: 0.5rem solid #607d8b;
  border-bottom: 0.5rem solid #607d8b;
}

main {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 56rem;
}

a {
  color: #b9bbbd;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid currentColor;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 2rem 0;
}

.title .js-path a {
  padding: 0 0.25rem 0;
  text-decoration: none;
}

.title .js-path a:hover {
  opacity: 1;
}

footer {
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.875rem;
}

footer a {
  color: #546e7a;
}
